[defaults]
inventory=./inventory
remote_user=ansible
roles_path=/usr/share/ansible/roles:/etc/ansible/roles:/home/student/ansible-projects
ollections_path=./collections
[privilege_escalation]
become=true
become_user=root
become_method=sudo
